.FormToChange{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 25px 25px 60px 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  border-radius: 5px;
}
.ModalToRead.ModalToRead{
  animation-duration: 0.4s;
}
.fieldDescrip{
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

.imageBlock, .detailsBlock, .layoutBlock{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.imageBlock>div, .detailsBlock>div{
  margin-bottom: 15px;
}
.detailsBlock>div:last-of-type{
  margin-bottom: 0;
}
.input{
  outline: none;
  width: 100%;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
}
.infoInput{
  display: none;
}
.textarea{
  width: 100%;
  height: 200px;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  resize: vertical;
}
.buttonsBlock{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.closeButton, .deleteButton, .submitButton{
  width: 150px;
  background-color: #ffffff;
}
.submitButton, .deleteButton{
  margin-left: 15px;
}
.deleteButton>span:last-of-type, .closeButton>span:last-of-type{
  display: none;
}

@media(max-width: 768px) {
  .FormToChange{
    border: 1px solid black;
  }
  .fieldDescrip{
    font-size: 16px;
  }
  .input{
    height: 30px;
    font-size: 14px;
  }
  .closeButton, .deleteButton, .submitButton{
    font-size: 11px;
    width: 120px;
  }
}

@media(max-width: 480px) {
  .FormToChange{
    border: none;
  }
  .fieldDescrip{
    font-size: 14px;
  }
  .input{
    height: 25px;
    font-size: 12px;
  }
  .closeButton, .deleteButton, .submitButton{
    width: 80px;
    height: 25px;
  }
  .deleteButton>span:first-of-type, .closeButton>span:first-of-type{
    display: none;
  }
  .deleteButton>span:last-of-type, .closeButton>span:last-of-type{
    display: inline;
  }
}