.NewsItem{
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.mainBlock{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.contentWraper{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.contentWraper:after {
  content: "";
  display: table;
  clear: both;
}
.imageBlock{
  width: auto;
  height: auto;
  margin-right: 20px;
}
.image{
  width: 200px;
  height: auto;
  border: 1px solid black;
}
.contentBlock{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.details{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.info{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.info>span:first-of-type{
  margin-right: 15px;
  font-size: inherit;
}
.info>span:last-of-type{
  font-size: 90%;
}
.changeButton{
  display: inline-block;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
}
.changeButton.mobile{
  display: none;
}
.prewiev{
  width: 100%;
  font-size: 18px;
  word-wrap: break-word;
}
.buttonBlock{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.toReadMoreButton{
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.infoMobile{
  text-align: left;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.infoMobile>span:first-of-type{
  margin-right: 15px;
  font-size: inherit;
}
.infoMobile>span:last-of-type{
  font-size: 80%;
}

@media(max-width: 1280px) {
  .changeButton{
    font-size: 12px;
  }
  .prewiev{
    font-size: 16px;
  }
  .toReadMoreButton{
    font-size: 14px;
  }
}
@media(max-width: 768px) {
  .changeButton{
    font-size: 10px;
  }
  .info{
    display: none;
  }
  .prewiev{
    font-size: 14px;
  }
  .toReadMoreButton{
    font-size: 12px;
  }
  .infoMobile{
    display: block;
  }
  .infoMobile>span:first-of-type{
    margin-right: 10px;
  }
  .infoMobile>span:last-of-type{
    font-size: 85%;
  }
}
@media(max-width: 480px) {
  .NewsItem{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .contentWraper{
    display: block;
  }
  .imageBlock{
    width: 40%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
  }
  .image{
    width: 100%;
    height: auto;
  }
  .contentBlock{
    display: inline;
    position: relative;
    top: -10px;
  }
  .details{
    display: none;
  }
  .changeButton.mobile{
    display: inline-block;
    width: 80px;
    margin: 0;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    cursor: pointer;
  }
  .prewiev{
    font-size: 12px;
  }
  .buttonBlock{
    justify-content: space-between;
    align-items: center;
  }
  .toReadMoreButton{
    font-size: 10px;
  }
  .infoMobile{
    margin-top: 10px;
    text-align: center;
    font-size: 8px;
  }
}