.Newsfeed{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}
.Newsfeed *{
  box-sizing: border-box;
}
.Newsfeed.modalMode{
  min-height: 0;
}
.header{
  width: 100%;
  height: 80px;
  padding: 0 50px;
  background: linear-gradient(165deg, black 20%, #453030 40%, #702f2f 60%, rgba(255, 0, 0, 0.8) 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo{
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
}
.Newsfeed .addNewsButton{
  background-color: #ffffff;
  font-size: 16px;
}
.main{
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 20px 50px;
}
.NewsItem{
  margin-bottom: 20px;
}
.NewsItem:last-of-type{
  margin-bottom: 0;
}
.Preloader{
  z-index: 150;
}
.ModalToRead{
  z-index: 1;
}
.FormToChange{
  z-index: 1;
}

/* temporarily */
.sortBlock{
  width: calc(100% - 100px);
  height: auto;
  margin: 20px 50px;
  background-color: #ffffff;
}
.sortBlock .Switcher{
  padding: 10px;
  font-size: 12px;
}
.sortBlock .SwitcherItem{

}

@media(max-width: 1280px) {
  .Newsfeed{
    border-left: none;
    border-right: none;
  }
}

@media(max-width: 768px) {
  .header{
    padding: 0 20px;
    flex-direction: row-reverse;
  }
  .header>span{
    display: none;
  }
  .addNewsButton.addNewsButton{
    height: 30px;
    font-size: 12px;
  }
  .main{
    padding: 20px;
  }
}

@media(max-width: 480px) {
  .addNewsButton.addNewsButton{
    height: auto;
    font-size: 10px;
  }
  .Search{
    width: 70%;
    height: 30px;
    padding: 4px;
  }
}

